.menu-item{
    margin-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left-width:0px; 
    border-right-width:0px; 
    font-weight:500; 
    color:#6b7174;
    border-top-style:dashed;
    border-bottom-style:dashed;
    border-width: 1.5px;
    display: grid;
    grid-template-columns: 80% 10%;
    grid-template-rows: auto;
    grid-gap: 15px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    flex-wrap: wrap;
    transition: all 1s ease-in-out .3s;
}


